
*.wdf
*.wpc
*.lpr
*.xml
*.rst
*.pb
*.tcl
*.sh
*.js
*.jou
*.log
*.bat
*.rpt
*.dcp
1_Aulas/Neuronio/Neuronio.runs/synth_1/__synthesis_is_complete__
1_Aulas/Neuronio/Neuronio.ip_user_files/README.txt
1_Aulas/Neuronio/Neuronio.runs/synth_1/htr.txt
